CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# Terraform files
.terraform
terraform.tfstate
terraform.tfvars
*.tfstate*

.terraspace-cache

# OS X files
.history
.DS_Store

# Common ruby files
*.gem
*.rbc
.idea
/.bundle
/.config
/.yardoc
/_yardoc
/coverage
/doc/
/Gemfile.lock
/InstalledFiles
/lib/bundler/man
/log
/output
/pkg
/rdoc
/spec/fixtures/project/output
/spec/reports
/test/tmp
/test/version_tmp
/tmp


.azure.env
sp_secret.json